<app-login-eos></app-login-eos>

<nav class="main-navigation">
  <a routerLink="" class="logo pull-left">
    <img src="{{frontConfig?.logo}}" width="30" alt="">
    <span class="name-explorer">{{frontConfig?.name?.small}}</span>
    <span class="name-eos">{{frontConfig?.name?.big}}</span> 
  </a>
  <div class="main-search">
    <i class="fal fa-search" (click)="searchGlobal(search)"></i>
    <input type="search" placeholder="Search by block, tx, account, address" [(ngModel)]="search" (keyup)="onKey($event)">
  </div>
  <ul class="pull-right main-nav-middle">
    <li class="select-network" *ngIf="!frontConfig?.disableNets">
        <button mat-button [matMenuTriggerFor]="menu">{{netName}} <i class="fas fa-sort-down"></i></button>
        <mat-menu #menu="matMenu">
          <a *ngFor="let net of networks;" href="{{net?.url}}" mat-menu-item>MVLchain</a>
        </mat-menu>
    </li>
    <li>
        <a class="telegram-button" (click)="darkEnable(!darkTheme)">
          <i class="fas fa-moon" *ngIf="!darkTheme"></i>
          <i class="fas fa-sun" *ngIf="darkTheme"></i>
        </a>
    </li>
  </ul>
</nav>

<main-tcustomize-charts></main-tcustomize-charts>
<router-outlet></router-outlet>

<footer>
  <div class="container">
  <div class="pull-left">Copyright © 2019. MVL</div>
  <ul class="pull-right">
      <li><a href="mailto:support@mvlchain.io">Support</a></li>
      <li><a href="https://github.com/mvlchaindev" target="_blank"><i class="fab fa-github"></i></a></li>
      <li><a href="https://fb.me/mvlchain" target="_blank"><i class="fab fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/mvlchain" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li><a href="https://t.me/mvlchain_en" target="_blank"><i class="fab fa-telegram-plane"></i></a></li>
  </ul>
   </div>
</footer>

<link rel="stylesheet" href="/assets/css/dark.css" *ngIf="darkTheme">


